<style>
   body{
    font-family:"Roboto", sons-seril;
   }
   #primeira-imagem {
      width: 100%;
  }
   .cabecalho{
    background:light rgba(189, 6, 189, 0.612);
    padding: 30px 0;
   }
   .item{
    color:white;
    font-size: 22px;
    margin
   }
   .saibamais{
    background-color: gray;
    padding:10px;
    text-aling:center;
    color:white;
   }
   .produtos{
    text-align: center;
    width: 30%;
    margin-left: 7px;
    margin-right: 7px;
   }
   .produtos{    
   }
   .rodape{
    background: rgba(189, 6, 189, 0.61);
    padding: 50px;
   }
   .linha .rodape{
    color:white;
    lont: size 24px;
    text-align: left;
    margin-left: 18px;
   }
   </style>